<body>
  <div id="footer-container">
    <div id="navigation-container">
      <div class="nav-logos">
        <img src="/assets/facebook.svg" alt="facebook" /><img
          src="/assets/instagram.svg"
          alt="instagram"
        />
      </div>
      <div class="nav-contents">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/projects']">Projects</a>
        <a [routerLink]="['/jointventure']">Joint venture</a>
        <a [routerLink]="['/aboutus']">About us</a>
        <a [routerLink]="['/contact']">Contact</a>
      </div>
    </div>
    <div id="footer-cont">
      <span>© techcora. All rights reserved.</span>
    </div>
  </div>
</body>
