* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#footer-container {
  display: flex;

  padding: 50px 0px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  align-self: stretch;
  background: #1a5965;
}
#navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.nav-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.nav-logos img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.nav-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}
.nav-contents a {
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  color: #e5e0d7;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.nav-contents a:hover {
  color: #cacaca;
  border-bottom: 0.5px solid #cacaca;
}
#footer-cont {
  color: #e9e9e9;

  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
@media (max-width: 426px) {
  #footer-container {
    gap: 25px;
    padding: 45px 0px;
  }
  #navigation-container {
    gap: 22px;
  }

  .nav-logos {
    gap: 18px;
  }
  .nav-logos img {
    width: 26px;
    height: 26px;
  }
  .nav-contents {
    gap: 8px;
    flex-direction: column;
  }
  .nav-contents a {
    padding: 4px 0px;
    font-size: 15px;
  }
  #footer-cont {
    font-size: 15px;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  #footer-container {
    gap: 20px;
    padding: 45px 0px;
  }
  #navigation-container {
    gap: 18px;
  }
  .nav-logos {
    gap: 18px;
  }
  .nav-logos img {
    width: 26px;
    height: 26px;
  }
  .nav-contents {
    gap: 22px;
  }
  .nav-contents a {
    padding: 0px;
    font-size: 15px;
  }
  #footer-cont {
    font-size: 15px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  #footer-container {
    gap: 20px;
  }
  #navigation-container {
    gap: 18px;
  }
  .nav-logos {
    gap: 18px;
  }
  .nav-logos img {
    width: 26px;
    height: 26px;
  }
  .nav-contents {
    gap: 22px;
  }
  .nav-contents a {
    padding: 0px;
    font-size: 15px;
  }
  #footer-cont {
    font-size: 15px;
  }
}
