<body>
  <div id="footer-container">
    <div id="navigation-container">
      <div class="nav-logos">
        <img src="/assets/linkedin.svg" alt="linkedin" /><img
          src="/assets/facebook.svg"
          alt="facebook"
        /><img src="/assets/instagram.svg" alt="instagram" /><img
          src="/assets/twitter.svg"
          alt="twitter"
        />
      </div>
      <div class="nav-contents">
        <a>Home</a>
        <a>Commercial</a>
        <a>Joint venture</a>
        <a>About us</a>
        <a>Contact</a>
      </div>
    </div>
    <div id="footer-cont">
      <span>© techcora. All rights reserved.</span>
    </div>
  </div>
</body>
