<div class="nav-container">
  <div [routerLink]="['/']" class="logo-container" style="cursor: pointer">
    <img src="/assets/logo.svg" alt="logo" />
    <span>
      <h5>VIGNESH HOMES</h5>
      <h2>Builders & Contractors</h2>
    </span>
  </div>
  <!--Laptop screen nav content-->
  <div id="sidemenu">
    <span class="sidemenucont">
      <a [routerLink]="['/']">Home</a>
    </span>
    <span class="sidemenucont">
      <a [routerLink]="['/projectsec']">Commercial</a>
    </span>
    <span class="sidemenucont">
      <a [routerLink]="['/jointventure']">Joint venture</a>
    </span>
    <span class="sidemenucont"
      ><a [routerLink]="['/aboutus']">About us</a></span
    >
    <span class="sidemenucont">
      <a [routerLink]="['/contact']">Contact</a>
    </span>

    <img
      id="menu-icon"
      style="cursor: pointer"
      (click)="openNav()"
      src="/assets/menu-icon.svg"
      alt="menu-icon"
    />
  </div>
  <!--Side nav for mobile and tab-->
  <div id="mySidenav" class="sidenav" [style.width.px]="sidenavWidth">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/projectsec']">Commercial</a>
    <a [routerLink]="['/jointventure']">Joint venture</a>
    <a [routerLink]="['/aboutus']">About us</a>
    <a [routerLink]="['/contact']">Contact</a>
  </div>
</div>
