<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="heropage">
      <div style="height: 90px; width: 100%"></div>
      <app-navbar
        style="position: fixed; z-index: 1"
        scrollColorChange
      ></app-navbar>
      <span>PROJECTS</span>
    </div>

    <div class="tabs">
      <div class="tabs">
        <button
          (click)="updateTab('forsale')"
          [ngClass]="{ 'selected-tab': defaultTab === 'forsale' }"
        >
          For sale
        </button>
        <button
          (click)="updateTab('ongoing')"
          [ngClass]="{ 'selected-tab': defaultTab === 'ongoing' }"
        >
          Ongoing
        </button>
        <button
          (click)="updateTab('complete')"
          [ngClass]="{ 'selected-tab': defaultTab === 'complete' }"
        >
          Completed
        </button>
        <button
          (click)="updateTab('comingsoon')"
          [ngClass]="{ 'selected-tab': defaultTab === 'Coming soon' }"
        >
          Coming soon
        </button>
      </div>
    </div>

    <div class="project-show-mainbox">
      <div class="project-show-subbox">
        <div class="project-show-maindetails">
          <span class="project-show-detail-head">{{ sectionTitle }}</span>
          <div class="project-show-subdetails">
            <span>{{ sectionDescription }}</span>
            <button [routerLink]="['/contact']">GET IN TOUCH</button>
          </div>
          <div></div>
        </div>

        <!-- <div class="project-card-sec" *ngIf="selectedTab !== 'Coming soon'">
          <div *ngFor="let cardData of cardsData">
            <app-projectcard
              [projectImage]="cardData.projectImage"
              [saleTag]="cardData.saleTag"
              [projectTitle]="cardData.projectTitle"
              [projectSubtitle]="cardData.projectSubtitle"
            ></app-projectcard>
          </div>
        </div> -->

        <div class="project-card-sec">
          <!-- Display standard projects -->
          <app-projectcard
            [project]="project"
            *ngFor="let project of standardProjects"
            [projectImage]="project.projectImage"
            [saleTag]="project.saleTag"
            [projectTitle]="project.projectTitle"
            [projectSubtitle]="project.projectSubtitle"
          ></app-projectcard>

          <!-- Display coming soon projects -->
          <app-coming-soon-card
            *ngFor="let comingSoonProject of comingSoonProjects"
            [projectImage]="comingSoonProject.projectImage"
            [saleTag]="comingSoonProject.saleTag"
            [title]="comingSoonProject.title"
            [approval]="comingSoonProject.approval"
            [foundation]="comingSoonProject.foundation"
            [structure]="comingSoonProject.structure"
            [salableArea]="comingSoonProject.salableArea"
            [unitType]="comingSoonProject.unitType"
            [totalUnit]="comingSoonProject.totalUnit"
            [projectHighlight]="comingSoonProject.projectHighlight"
          ></app-coming-soon-card>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </body>
</html>
