* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
}
#heropage {
  display: flex;
  height: 65%;
  width: 100%;
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(/assets/overview-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body::-webkit-scrollbar {
  display: none;
}
.add-background-color {
  background-color: #25b425;
  transition: background-color 1s ease;
}
#heropage span {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.tabs {
  display: flex;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  align-self: stretch;
  background: #d6e2ea;
}
.tabs button {
  display: flex;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  color: #313333;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}
.tabs button.active {
  background: #fff;
  color: #313333;
}
.tabs button:hover {
  background: #fff;
  transition: 0.5s ease-in-out;
}
.project-show-mainbox {
  display: flex;
  padding: 70px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  align-self: stretch;
  background: #f7f7f7;
}
.project-show-subbox {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  font-family: Montserrat;
}
.project-show-maindetails {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.project-show-detail-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  color: #333;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}
.project-show-subdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}
.project-show-subdetails span {
  align-self: stretch;
  color: #333;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.project-show-subdetails a {
  display: flex;
  width: 300px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #313333;
  color: #313333;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: none;
  cursor: pointer;
}
.project-show-subdetails a:hover {
  color: #ffffff;
  border: 2px solid #313333;
  background: #313333;
  transition: 0.5s ease-in;
}
.project-card-sec {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 426px) {
  #heropage {
    height: 70%;
    padding-bottom: 40px;
  }
  #heropage span {
    font-size: 20px;
    padding: 0px 20px;
  }
  .tabs {
    padding: 8px 0px;
    gap: 7px;
  }
  .tabs button {
    padding: 8px 8px;
    font-size: 12px;
    gap: 7px;
    line-height: 20px;
  }
  .project-show-mainbox {
    padding: 40px 20px;
  }
  .project-show-subbox {
    width: 100%;
    gap: 30px;
  }
  .project-show-maindetails {
    width: 100%;
    gap: 20px;
  }
  .project-show-detail-head {
    font-size: 22px;
  }
  .project-show-subdetails {
    gap: 25px;
  }
  .project-show-subdetails span {
    font-size: 14px;
    line-height: 26px;
  }
  .project-show-subdetails button {
    width: 220px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .project-card-sec {
    gap: 20px;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  #heropage {
    height: 65%;
    padding-bottom: 40px;
  }
  #heropage span {
    font-size: 24px;
  }
  .tabs {
    padding: 8px 0px;
  }
  .tabs button {
    padding: 8px 10px;
    font-size: 14px;
  }
  .project-show-mainbox {
    padding: 50px 40px;
  }
  .project-show-subbox {
    width: 100%;
    gap: 30px;
  }
  .project-show-maindetails {
    width: 80%;
    gap: 20px;
  }
  .project-show-detail-head {
    font-size: 24px;
  }
  .project-show-subdetails {
    gap: 25px;
  }
  .project-show-subdetails span {
    font-size: 14px;
    line-height: 26px;
  }
  .project-show-subdetails button {
    width: 250px;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .project-card-sec {
    gap: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  #heropage {
    height: 60%;
    padding-bottom: 40px;
  }
  #heropage span {
    font-size: 28px;
  }
  .tabs {
    padding: 10px 0px;
  }
  .tabs button {
    padding: 10px 20px;
    font-size: 16px;
  }
  .project-show-mainbox {
    padding: 50px 40px;
  }
  .project-show-subbox {
    width: 100%;
    gap: 40px;
  }
  .project-show-maindetails {
    width: 80%;
    gap: 30px;
  }
  .project-show-detail-head {
    font-size: 30px;
  }
  .project-show-subdetails {
    gap: 25px;
  }
  .project-show-subdetails span {
    font-size: 16px;
    line-height: 30px;
  }
  .project-show-subdetails button {
    width: 300px;
    padding: 13px 20px;
    font-size: 16px;
    line-height: 24px;
  }
  .project-card-sec {
    gap: 20px;
  }
}
