body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-card {
  position: relative;
  width: 400px;
  cursor: pointer;
  overflow: hidden;
}

.project-image {
  width: 100%;
  background-image: url(/assets/project1.svg); /* Add your image URL here */
  background-size: cover;
  background-position: center;
  position: relative;
  object-fit: cover;
  height: 275px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 15px;
}

.for-sale-tag {
  position: absolute;
  top: 0px;
  left: 0px;
}

.project-details {
  display: flex;
  padding: 15px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.project-title {
  align-self: stretch;
  color: #363636;
  height: 27px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  align-self: stretch;
  height: 58px;
  color: #363636;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px; /* Adjusted line height for better visual appearance */
  overflow: hidden;
}

@media (max-width: 1025px) {
  .project-card {
    width: 300px;
  }

  .project-image {
    height: 230px;
    border-radius: 12px;
  }
  .project-details {
    padding: 12px 0px;
    gap: 8px;
  }

  .project-title {
    height: 22px;
    font-size: 16px;
  }

  .project-subtitle {
    height: 50px;
    font-size: 14px;
    line-height: 25px;
  }
}
