<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="heropage">
      <div style="height: 90px; width: 100%"></div>
      <app-navbar
        style="position: fixed; z-index: 1"
        scrollColorChange
      ></app-navbar>
      <span>WHO WE ARE?</span>
    </div>
    <div class="main-container">
      <div class="sub-container">
        <div class="about-header">
          <span class="header">About + Company</span>
          <div class="header-cont">
            <span
              >Vignesh Homes was established in 2003, with property development
              as its main focus. The Vignesh Homes Group is a new generation,
              Chennai-based, real-estate development company transcending
              conventions in design, quality, construction and customer
              relationships based on its founding principles of Integrity,
              Quality, Commitment and Professionalism.
            </span>
            <span
              >Vignesh home’s experience in delivering residential, hospitality
              and commercial projects is built on these four core values that
              are embedded in us from blueprint to brick. We believe that the
              key element of all our projects is always the CUSTOMER – a view
              shared by one of the most dedicated teams in the industry.
            </span>
            <span
              >We’re about building more than just concrete structures and
              buildings – we want to build homes and great working environments
              that will inspire and last the test of time. The best interests of
              our clients always come first and we place your concerns ahead of
              our own in each and every transaction, as we are dedicated to the
              development of long-term client relationships. Our unified
              customer-centric philosophy ensures that our clients’ investment
              and time are of paramount important to each and every member of
              our organization.
            </span>
          </div>
        </div>
        <div class="about-container">
          <div class="about-content">
            <div class="about-content-header">Mission</div>
            <span class="about-images-sec">
              <img src="/assets/mission-img.svg" />
            </span>
            <div class="about-content-title">
              <span
                >We strive to build homes and happiness with the utmost
                excellence, unsurpassed quality, and innovation you deserve.
              </span>
            </div>
          </div>
          <span class="about-image-sec">
            <img src="/assets/mission-img.svg" />
          </span>
        </div>
        <div class="about-container">
          <span class="about-image-sec">
            <img src="/assets/vission-img.svg" />
          </span>
          <div class="about-content">
            <div class="about-content-header">Vission</div>
            <span class="about-images-sec">
              <img src="/assets/vission-img.svg" />
            </span>
            <div class="about-content-title">
              <span
                >We aspire to be an innovative and globally recognized
                organization, incorporating our core values of transparency,
                efficiency, commitment, and integrity, in every one of our
                projects.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
