<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="heropage">
      <div style="height: 90px; width: 100%"></div>
      <app-navbar
        style="position: fixed; z-index: 1"
        scrollColorChange
      ></app-navbar>
      <span>WHO WE ARE?</span>
    </div>
    <div class="main-container">
      <div class="sub-container">
        <div class="about-header">
          <span class="header">About Us</span>
          <div class="header-cont">
            <span
              >To give you a straightforward answer, we're the engineers,
              architects, designers, and electricians who build the foundation
              of innumerable dreams. But first and foremost, we are ordinary
              people - people who have lived in, admired, and dreamt of owning a
              home just like you.
            </span>
            <span
              >And that's why at Vignesh Homes, we often ponder over a very
              fundamental but certainly a crucial question - What makes a home?
            </span>
            <span
              >It was in seeking the answer to this question that a beautiful
              dream like Vignesh Homes shaped into reality and was incepted in
              2003 by S.Karthikeyan. What began with just bricks and cement
              paved the way for a realization that "Homes are the people who
              live in it."
            </span>
            <span
              >Ever since, it was crystal clear that it is through listening
              intently and understanding their views that we can tap into the
              ideal home that lies behind their heart and mind. At Vignesh
              homes, the customer is king.
            </span>
            <span
              >Our journey begins with a thorough articulation of their
              requisites and then transcending the limitations of innovation and
              design. We aspire to build homes that feel home with unmatched
              capabilities in terms of manufacturing, engineering, and
              technology.
            </span>
            <span
              >Three years into the field, and we're climbing the ladder up
              faster than the industry has ever known before with a team
              empowered by unprecedented strength, knowledge, and perseverance.
              Headquartered in Chennai, we have firmly established ourselves,
              imprinting an exceptional mark in delivering residential,
              hospitality, and commercial projects as the leading developers who
              realize the dreams of our esteemed clients.
            </span>
            <span
              >Today, Vignesh Homes is synonymous with building the dreams of
              Tamil Nadu and turning homes into happiness in style because we
              know what matters the most.
            </span>
          </div>
        </div>
        <div class="about-container">
          <div class="about-content">
            <div class="about-content-header">Mission</div>
            <span class="about-images-sec">
              <img src="/assets/aboutus-img1.svg" />
            </span>
            <div class="about-content-title">
              <span
                >We strive to build homes and happiness with the utmost
                excellence, unsurpassed quality, and innovation you deserve.
              </span>
            </div>
          </div>
          <span class="about-image-sec">
            <img src="/assets/aboutus-img1.svg" />
          </span>
        </div>
        <div class="about-container">
          <span class="about-image-sec">
            <img src="/assets/aboutus-img2.svg" />
          </span>
          <div class="about-content">
            <div class="about-content-header">Vision</div>
            <span class="about-images-sec">
              <img src="/assets/aboutus-img2.svg" />
            </span>
            <div class="about-content-title">
              <span
                >We aspire to be an innovative and globally recognized
                organization, incorporating our core values of transparency,
                efficiency, commitment, and integrity, in every one of our
                projects.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
