* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#heropage {
  display: flex;
  height: 65vh;
  width: 100%;
  padding-bottom: 40px;
  flex-direction: column;

  align-items: flex-start;
  background: url(/assets/contact-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: space-between;
}
body::-webkit-scrollbar {
  display: none;
}
.add-background-color {
  background-color: #1a5965;

  transition: background-color 1s ease;
}
#heropage span {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.main-container {
  display: flex;
  padding: 70px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: #f7f7f7;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  align-self: stretch;
}
.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 60%;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  color: #313333;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  font-family: Montserrat;
  line-height: normal;
}
.header-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.header-cont span {
  align-self: stretch;
  font-weight: 400;

  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 27px;
}
.contact-container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.contact-details {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}
.contact-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.contact-head {
  align-self: stretch;
  color: #333;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}
.cont {
  align-self: stretch;
  color: #333;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  flex-direction: column;
}
#map {
  width: 100%;
  height: 360px;
  z-index: 0;
}
.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}

.contact-form span {
  display: flex;
  align-items: center;

  align-self: stretch;
  flex: 1 0 0;
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #e6e8e8;

  color: #5c5c5c;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}
.form-group input:-webkit-autofill,
.form-group textarea:-webkit-autofill {
  background-color: #e6e8e8; /* Change to the desired background color */
  -webkit-text-fill-color: #5c5c5c; /* Set the text color for autofilled inputs */
}
.form-group input:focus,
.form-group textarea:focus {
  background: #e6e8e8; /* Change to the desired background color */
  outline: none; /* Remove the default focus outline if not needed */
}

.form-group textarea {
  min-height: 150px; /* Adjust the height based on your design */
}
.form-field {
  width: 100%;
  height: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.form-group span {
  color: #d32c1ad4;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: auto;
  line-height: normal;
  align-items: flex-start;
  justify-content: flex-start;
}
button[type="submit"] {
  cursor: pointer;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  border: none;
  display: flex;
  padding: 18px 70px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  background: #535353;
}

button[type="submit"]:hover {
  background-color: #2e2e30;
}

@media (max-width: 426px) {
  #heropage {
    padding-bottom: 20px;
    background: url(/assets/contact-mobilehero.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #heropage span {
    font-size: 20px;
    padding: 0px 15px;
  }
  .main-container {
    padding: 40px 15px;
  }
  .sub-container {
    gap: 32px;
  }
  .contact-header {
    gap: 15px;
    width: 100%;
  }
  .header {
    font-size: 18px;
  }
  .header-cont {
    gap: 12px;
  }
  .header-cont span {
    font-size: 13px;
    line-height: 23px;
  }
  .contact-container {
    gap: 50px;
    flex-direction: column;
    width: 100%;
  }
  .contact-details {
    gap: 18px;
    width: 100%;
  }
  .contact-contents {
    gap: 8px;
  }
  .contact-head {
    font-size: 16px;
  }
  .cont {
    font-size: 14px;
    line-height: 24px;
  }
  #map {
    height: 250px;
    z-index: 0;
  }
  .contact-form {
    gap: 25px;
    width: 100%;
  }

  .contact-form span {
    font-size: 18px;
    justify-content: left;
  }
  form {
    gap: 22px;
  }
  .form-field {
    gap: 8px;
  }
  .form-group span {
    font-size: 13px;
  }
  .form-group {
    gap: 15px;
  }
  .form-group input,
  .form-group textarea {
    padding: 15px;
    font-size: 14px;
  }
  .form-group textarea {
    min-height: 120px;
  }
  button[type="submit"] {
    font-size: 14px;
    padding: 14px 50px;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  #heropage {
    padding-bottom: 25px;
  }

  #heropage span {
    font-size: 24px;
    padding: 0px 30px;
  }
  .main-container {
    padding: 50px 40px;
  }
  .sub-container {
    gap: 35px;
  }
  .contact-header {
    gap: 18px;
    width: 80%;
  }
  .header {
    font-size: 24px;
  }
  .header-cont {
    gap: 12px;
  }
  .header-cont span {
    font-size: 14px;
    line-height: 25px;
  }
  .contact-container {
    gap: 50px;
    flex-direction: column;
  }
  .contact-details {
    gap: 18px;
    width: 70%;
  }
  .contact-contents {
    gap: 8px;
  }
  .contact-head {
    font-size: 17px;
  }
  .cont {
    font-size: 14px;
    line-height: 24px;
  }
  #map {
    height: 250px;
    z-index: 0;
  }
  .contact-form {
    gap: 25px;
    width: 70%;
  }

  .contact-form span {
    font-size: 20px;
    justify-content: left;
  }
  .form-field {
    gap: 8px;
  }
  .form-group span {
    font-size: 13px;
  }
  form {
    gap: 25px;
  }
  .form-group {
    gap: 15px;
  }
  .form-group input,
  .form-group textarea {
    padding: 15px;
    font-size: 14px;
  }
  .form-group textarea {
    min-height: 120px;
  }
  button[type="submit"] {
    font-size: 14px;
    padding: 14px 50px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  #heropage span {
    font-size: 28px;
  }
  .main-container {
    padding: 50px 60px;
  }
  .sub-container {
    gap: 45px;
  }
  .contact-header {
    gap: 20px;
    width: 65%;
  }
  .header {
    font-size: 24px;
  }
  .header-cont {
    gap: 12px;
  }
  .header-cont span {
    font-size: 14px;
    line-height: 24px;
  }

  .contact-container {
    gap: 40px;
    width: 95%;
  }
  .contact-details {
    gap: 18px;
  }
  .contact-contents {
    gap: 8px;
  }
  .contact-head {
    font-size: 20px;
  }
  .cont {
    font-size: 15px;
    line-height: 28px;
  }
  #map {
    height: 300px;
    z-index: 0;
  }
  .contact-form {
    gap: 25px;
  }

  .contact-form span {
    font-size: 20px;
  }
  form {
    gap: 25px;
  }
  .form-field {
    gap: 10px;
  }
  .form-group span {
    font-size: 13px;
  }
  .form-group {
    gap: 15px;
  }
  .form-group input,
  .form-group textarea {
    padding: 15px;
    font-size: 14px;
  }
  .form-group textarea {
    min-height: 120px;
  }
  button[type="submit"] {
    font-size: 14px;
    padding: 14px 50px;
  }
}
