<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="heropage">
      <div style="height: 90px; width: 100%"></div>
      <app-navbar style="position: fixed; z-index: 1"></app-navbar>
      <span>CONTACT</span>
    </div>
    <div class="main-container">
      <div class="sub-container">
        <div class="contact-header">
          <span class="header">CONTACT</span>
          <div class="header-cont">
            <span
              >Please feel free to call us to discuss your upcoming project! For
              inquiries about subcontracting for us, or information about our
              current project, please use the form below so we can connect you
              to the best person to help you.
            </span>
          </div>
        </div>
        <div class="contact-container">
          <div class="contact-details">
            <div class="contact-contents">
              <span class="contact-head">Address</span>
              <span class="cont"
                >No. 3/7, OHM Eswarar Street, Thirumalai Nagar, Ramapuram,
                Chennai - 600089.</span
              >
            </div>
            <div class="map">
              <img src="/assets/map.svg" />
            </div>
            <div class="contact-contents">
              <span class="contact-head">Call us</span>
              <div class="cont">
                <span>+91 9444226265</span>
                <span>+91 9566084645</span>
              </div>
            </div>
            <div class="contact-contents">
              <span class="contact-head">Timing</span>
              <span class="cont">Mon – Sat: 9:00 – 18:00</span>
            </div>
          </div>
          <div class="contact-form">
            <span>GET IN TOUCH</span>
            <form>
              <div class="form-group">
                <input
                  type="text"
                  id="name"
                  name="name"
                  required
                  placeholder="Your Name*"
                />
                <input
                  type="email"
                  id="email"
                  name="email"
                  required
                  placeholder="Your Email*"
                />

                <input
                  type="tel"
                  id="phone"
                  name="phone"
                  required
                  placeholder="Your Phone Number*"
                />

                <textarea
                  id="message"
                  name="message"
                  required
                  placeholder="Your Message*"
                ></textarea>
              </div>
              <button type="submit">Get a free quote</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
