<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="heropage">
      <div style="height: 90px; width: 100%"></div>
      <app-navbar
        style="position: fixed; z-index: 1"
        scrollColorChange
      ></app-navbar>
      <span>JOINT VENTURE</span>
    </div>
    <div class="main-container">
      <div class="sub-container">
        <div class="about-header">
          <span class="header">JOINT VENTURE</span>
          <div class="header-cont">
            <span
              >Joint venture property development, commonly known as JV in the
              real estate industry, is the most preferred model of development
              for many landowners, builders, and contractors. It is in the form
              of an agreement between the builder and the land owner. Through
              this arrangement, the landowner agrees to provide their land to
              the builder for development under a fixed contract. The builder
              then works on the project and construction based on the guidelines
              of the Joint Development Agreement. The landowner will receive a
              share of the property in the form of a flat/apartment, as per the
              agreed terms & conditions of the Joint venture Development
              Agreement.
            </span>
            <span
              >Usually, land owners opt for joint venture property development
              if they have a vacant plot that they want to develop, if the
              property is being divided amongst siblings or if the owner is
              looking to renovate the existing flat/apartment, where the FSI
              (Floor Space Index) is revised.
            </span>
          </div>
        </div>
        <div class="about-container">
          <div class="about-content">
            <div class="about-content-header">
              How is joint venture property development beneficial to land
              owners?
            </div>
            <span class="about-images-sec">
              <img src="/assets/jt-img1.svg" />
            </span>
            <div class="about-content-title">
              <span>
                <li>
                  Ensuring appreciation in the value of the share acquired by
                  the land owner in the form of a flat or an apartment.
                </li>

                <li>
                  The property received by the land owners will continue to earn
                  appreciation benefits post Joint Venture development.
                </li>
                <li>
                  The flat acquired by the land owner from the share post-Joint
                  venture property development will continue to earn the
                  lease/rental income. Landowners can also use the same for
                  self-residential purposes.
                </li>
                <li>
                  In some instances, we at Vignesh Homes also offer the required
                  rental benefits to the landowners during the construction
                  phase.
                </li>
              </span>
            </div>
          </div>
          <span class="about-image-sec">
            <img src="/assets/jt-img1.svg" />
          </span>
        </div>
        <div class="about-container">
          <!-- <span class="about-image-sec">
            <img src="/assets/jt-img2.svg" />
          </span> -->
          <div class="about-content1">
            <div class="about-content-header">
              What not to worry about Joint Venture Property Development with
              Vignesh homes.
            </div>
            <!-- <span class="about-images-sec">
              <img src="/assets/jt-img2.svg" />
            </span> -->
            <div class="about-content-title">
              <span>
                <li>
                  In most cases, landowners will receive much better value
                  benefits through a joint venture property development program
                  than through an outright sale model.
                </li>

                <li>
                  In the Joint Venture property development model, the land
                  sharing ratio is a point of concern. But, at Vignesh Homes, we
                  offer the best ratio that proves to be beneficial to the land
                  owners.
                </li>
                <li>
                  Another concern for land owners in Joint venture property
                  development is the payment terms. At Vignesh Homes, we make
                  sure the payment terms meet the landowners’ expectations and
                  mention it in the agreements as well.
                </li>
                <li>
                  At Vignesh homes, we are transparent and trustworthy. We
                  ensure having a proper agreement and discussion, resulting in
                  a safe and trusting deal for the land owners.
                </li>
                <li>
                  Vignesh Homes has years of experience and expertise in Joint
                  Venture Property development. Vignesh Homes follow the
                  required code of ethics and standards needed for quality
                  construction. We ensure the projects are completed on time, as
                  per the agreement.
                </li>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
