<div class="completed-card">
  <span
    class="completed-card-img"
    [style.background-image]="'url(' + projectImage + ')'"
    ><img [src]="saleTag" class="completed-tag"
  /></span>
  <div class="completed-card-container">
    <span class="completed-card-container-head">
      {{ title }}
    </span>
    <div class="completed-card-details">
      <div class="completed-card-detail-sec">
        <span class="completed-card-head">APPROVAL</span>
        <span class="completed-card-subhead">{{ approval }}</span>
      </div>
      <div class="completed-card-detail-sec">
        <span class="completed-card-head">UNIT TYPE</span>
        <span class="completed-card-subhead">{{ unitType }}</span>
      </div>
      <div class="completed-card-detail-sec">
        <span class="completed-card-head">TOTAL UNIT</span>
        <span class="completed-card-subhead">{{ totalUnit }}</span>
      </div>
      <div class="completed-card-detail-sec">
        <span class="completed-card-head1">LOCATION</span>
        <span class="completed-card-subhead1">{{ projectHighlight }}</span>
      </div>
      <button
        class="view-location"
        (click)="navigateToProjectOverview()"
        [class.disabled]="overview.length === 0"
        [disabled]="overview.length === 0"
      >
        Know more
      </button>
    </div>
  </div>
</div>
