.coming-soon-card {
  display: flex;
  width: fit-content;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.coming-soon-card:hover {
  background-color: #eef3f8;
}

.coming-soon-card-img {
  width: 495px;
  height: 550px;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.coming-soon-card-container {
  display: flex;
  width: 500px;
  height: 550px;
  padding: 20px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  border-color: grey;
}

.coming-soon-tag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.coming-soon-card-container-head {
  align-self: stretch;
  color: #363636;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  text-transform: uppercase;
}
.coming-soon-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.coming-soon-card-detail-sec {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}
.coming-soon-card-head {
  width: 30%;
  color: #363636;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}
.coming-soon-card-subhead {
  width: 70%;
  color: #363636;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
}

@media (min-width: 1381px) {
  .coming-soon-card-container {
    border-width: 1px 1px 1px 0;
  }
}

@media (max-width: 380px) {
  .coming-soon-card {
    flex-direction: column;
  }

  .coming-soon-card-container {
    width: 280px;
    height: auto;
    padding: 20px;
    gap: 10px;
    border-width: 0 1px 1px 1px;
  }
  .coming-soon-card-img {
    width: 280px;
    height: 390px;
  }
  .coming-soon-card-container-head {
    font-size: 13px;
  }
  .coming-soon-card-details {
    gap: 5px;
  }
  .coming-soon-card-detail-sec {
    gap: 12px;
  }
  .coming-soon-card-head {
    font-size: 10px;
  }
  .coming-soon-card-subhead {
    font-size: 10px;
  }
}

@media (min-width: 380px) and (max-width: 426px) {
  .coming-soon-card {
    flex-direction: column;
  }

  .coming-soon-card-container {
    width: 350px;
    height: auto;
    padding: 20px;
    gap: 10px;
    border-width: 0 1px 1px 1px;
  }
  .coming-soon-card-img {
    width: 350px;
    height: 390px;
  }
  .coming-soon-card-container-head {
    font-size: 15px;
  }
  .coming-soon-card-details {
    gap: 7px;
  }
  .coming-soon-card-detail-sec {
    gap: 15px;
  }
  .coming-soon-card-head {
    font-size: 12px;
  }
  .coming-soon-card-subhead {
    font-size: 12px;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  .coming-soon-card {
    flex-direction: column;
  }

  .coming-soon-card-img {
    width: 405px;
    height: 450px;
  }

  .coming-soon-card-container {
    width: 405px;
    height: auto;
    padding: 25px;
    gap: 15px;
    border-width: 0 1px 1px 1px;
  }

  .coming-soon-card-container-head {
    font-size: 17px;
  }
  .coming-soon-card-details {
    gap: 10px;
  }
  .coming-soon-card-detail-sec {
    gap: 25px;
  }
  .coming-soon-card-head {
    font-size: 14px;
  }
  .coming-soon-card-subhead {
    font-size: 14px;
    width: 245px;
  }
}
@media (min-width: 769px) and (max-width: 1380px) {
  .coming-soon-card {
    flex-direction: column;
  }

  .coming-soon-card-container {
    width: 717px;
    height: auto;
    padding: 25px;
    gap: 20px;
    border-width: 0 1px 1px 1px;
  }
  .coming-soon-card-img {
    width: 717px;
    height: 900px;
  }

  .coming-soon-card-container-head {
    font-size: 18px;
  }
  .coming-soon-card-details {
    gap: 15px;
  }
  .coming-soon-card-detail-sec {
    gap: 25px;
  }
  .coming-soon-card-head {
    font-size: 16px;
  }
  .coming-soon-card-subhead {
    font-size: 16px;
    width: 475px;
  }
}
