.coming-soon-card {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
}
.coming-soon-card-container {
  display: flex;
  width: 550px;
  height: 470px;
  padding: 25px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;

  background: #eef3f8;
  box-sizing: border-box;
}
.coming-soon-card-img {
  width: 835px;
  height: 470px;
  background-size: contain;
  position: relative;
}

.coming-soon-tag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.coming-soon-card-container-head {
  align-self: stretch;
  color: #363636;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  text-transform: uppercase;
}
.coming-soon-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.coming-soon-card-detail-sec {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}
.coming-soon-card-head {
  width: 30%;
  color: #363636;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}
.coming-soon-card-subhead {
  width: 70%;
  color: #363636;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
}
@media (max-width: 426px) {
  .coming-soon-card {
    flex-direction: column;
  }

  .coming-soon-card-container {
    width: 350px;
    height: auto;
    padding: 20px 15px;
    gap: 10px;
  }
  .coming-soon-card-img {
    width: 350px;
    height: 194px;
  }
  .coming-soon-card-container-head {
    font-size: 15px;
  }
  .coming-soon-card-details {
    gap: 7px;
  }
  .coming-soon-card-detail-sec {
    gap: 15px;
  }
  .coming-soon-card-head {
    font-size: 12px;
  }
  .coming-soon-card-subhead {
    font-size: 12px;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  .coming-soon-card {
    flex-direction: column;
  }

  .coming-soon-card-img {
    width: 400px;
    height: 222px;
  }

  .coming-soon-card-container {
    width: 400px;
    height: auto;
    padding: 25px 30px;
    gap: 15px;
  }

  .coming-soon-card-container-head {
    font-size: 17px;
  }
  .coming-soon-card-details {
    gap: 10px;
  }
  .coming-soon-card-detail-sec {
    gap: 25px;
  }
  .coming-soon-card-head {
    font-size: 14px;
  }
  .coming-soon-card-subhead {
    font-size: 14px;
    width: 245px;
  }
}
@media (min-width: 769px) and (max-width: 1380px) {
  .coming-soon-card {
    flex-direction: column;
  }

  .coming-soon-card-container {
    width: 750px;
    height: auto;
    padding: 25px 40px;
    gap: 20px;
  }
  .coming-soon-card-img {
    width: 750px;
    height: 417px;
  }

  .coming-soon-card-container-head {
    font-size: 18px;
  }
  .coming-soon-card-details {
    gap: 15px;
  }
  .coming-soon-card-detail-sec {
    gap: 25px;
  }
  .coming-soon-card-head {
    font-size: 16px;
  }
  .coming-soon-card-subhead {
    font-size: 16px;
    width: 475px;
  }
}
