* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
}
#heropage {
  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: column;
  background: url(/assets/home-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  align-items: flex-end;
}
body::-webkit-scrollbar {
  display: none;
}
.add-background-color {
  background-color: #25b425;
  transition: background-color 1s ease;
}
.hero-container {
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 25px;
}
.hero-head {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 7px;
}
.hero-cont {
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.hero-cont1 {
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.hero-subhead {
  width: 65%;
  color: #fff;
  text-align: right;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 40px;
}
.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.project-header span {
  align-self: stretch;
  color: #313333;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}
.project-header img {
  width: 80px;
  height: 1px;
}
.project-container {
  display: flex;
  padding: 65px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: #f7f7f7;
}
.project-show-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.project-subcontainer {
  display: flex;
  width: 88%;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.project-card-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  transition: transform 0.3s ease;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.project-card-sec::-webkit-scrollbar {
  display: none;
}
.explore-button {
  display: flex;
  width: 325px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 3px solid #313333;
  color: #313333;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}
.explore-button:hover {
  color: #ffffff;
  border: 3px solid #313333;
  background: #313333;
  transition: 0.5s ease-in;
}
.coming-soon-container {
  display: flex;
  padding: 65px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: #d6e2ea;
}
.coming-soon-subcontainer {
  display: flex;
  width: 90%;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.coming-soon-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.coming-soon-header span {
  align-self: stretch;
  color: #313333;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}
.coming-soon-header img {
  width: 80px;
  height: 1px;
}
.coming-soon-card {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
}
.coming-soon-card-container {
  display: flex;
  width: 600px;
  height: 470px;
  padding: 25px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;

  background: #eef3f8;
  box-sizing: border-box;
}
.coming-soon-card-img {
  width: 625px;
  height: 470px;
}
.coming-soon-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coming-soon-card-container-head {
  align-self: stretch;
  color: #363636;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 600;
  line-height: 31px;
  text-transform: uppercase;
}
.coming-soon-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.coming-soon-card-detail-sec {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}
.coming-soon-card-head {
  width: 30%;
  color: #363636;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 600;
  line-height: 27px;
}
.coming-soon-card-subhead {
  width: 70%;
  color: #363636;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}
.about-container {
  background: url(/assets/about-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  box-sizing: border-box;
}
.about-subcontainer {
  display: flex;
  width: 75%;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: rgba(0, 0, 0, 0.1);
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.about-head {
  width: 25%;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}
.about-content span {
  align-self: stretch;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.about-content span a {
  text-decoration: underline;
  cursor: pointer;
}
.company-details-container {
  display: flex;
  padding: 65px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: #f7f7f7;
}
.company-details-subcontainer {
  display: flex;
  width: 75%;
  /* padding: 30px; */
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.company-details-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.company-details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.company-details-header span {
  align-self: stretch;
  color: #313333;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}
.company-details-header img {
  width: 80px;
  height: 1px;
}
.company-details-subcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.company-details-exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.company-details-exp-head {
  color: #313333;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 42px;
}
.company-details-exp-subhead {
  color: #313333;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
.company-details-exp-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.company-details-exp-content span {
  align-self: stretch;
  color: #313333;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.testimonials-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  transition: transform 0.3s ease;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.testimonials-container::-webkit-scrollbar {
  display: none;
}
.testimonials-container-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  position: relative;
}
.arrow-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
@media (max-width: 426px) {
  .hero-container {
    padding: 20px 20px;
    gap: 18px;
  }
  .hero-head {
    width: 95%;
    gap: 7px;
  }
  .hero-cont {
    font-size: 32px;
    text-align: right;
  }
  .hero-cont1 {
    font-size: 14px;
    text-align: right;
  }
  .hero-subhead {
    width: 95%;
    font-size: 17px;
    line-height: 28px;
  }
  .coming-soon-card {
    flex-direction: column;
  }
  .coming-soon-container {
    padding: 40px 20px;
    gap: 35px;
  }
  .coming-soon-subcontainer {
    width: 100%;
    gap: 20px;
  }
  .coming-soon-header {
    gap: 10px;
  }
  .coming-soon-header span {
    font-size: 22px;
  }
  .coming-soon-header img {
    width: 70px;
    height: 1px;
  }
  .coming-soon-card-container {
    width: 100%;
    height: auto;
    padding: 20px 15px;
    gap: 10px;
  }
  .coming-soon-card-img {
    width: 100%;
    height: 220px;
  }
  .coming-soon-card-container-head {
    font-size: 15px;
  }
  .coming-soon-card-details {
    gap: 7px;
  }
  .coming-soon-card-detail-sec {
    gap: 15px;
  }
  .coming-soon-card-head {
    font-size: 12px;
  }
  .coming-soon-card-subhead {
    font-size: 12px;
  }
  .about-container {
    padding: 40px 20px;
    gap: 20px;
  }
  .about-subcontainer {
    width: 100%;
    padding: 15px;
    gap: 18px;
  }
  .about-content {
    gap: 10px;
  }
  .about-head {
    width: 40%;
    font-size: 22px;
  }
  .about-content span {
    font-size: 14px;
    line-height: 22px;
  }
  .company-details-container {
    padding: 40px 20px;
    gap: 25px;
  }
  .company-details-subcontainer {
    width: 100%;
    gap: 25px;
  }
  .company-details-content {
    width: 100%;
    gap: 22px;
  }
  .company-details-header {
    gap: 10px;
  }
  .company-details-header span {
    font-size: 22px;
  }

  .company-details-subcontent {
    gap: 10px;
  }
  .company-details-exp {
    gap: 10px;
  }
  .company-details-exp-head {
    font-size: 24px;
    line-height: 32px;
  }
  .company-details-exp-subhead {
    font-size: 14px;
  }
  .company-details-exp-content {
    width: 100%;
    gap: 10px;
  }
  .company-details-exp-content span {
    font-size: 14px;
    line-height: 25px;
  }
  .project-container {
    padding: 40px 20px;
  }
  .project-show-sec {
    gap: 24px;
  }
  .project-header {
    gap: 8px;
  }
  .project-header span {
    font-size: 22px;
  }
  .project-subcontainer {
    width: 100%;
    align-items: flex-start;
    gap: 30px;
  }
  .project-card-sec {
    gap: 17px;
    width: 100%;
  }
  .explore-button {
    width: 220px;
    padding: 10px 20px;
    font-size: 14px;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  .hero-container {
    padding: 20px 40px;
    gap: 25px;
  }
  .hero-head {
    width: 65%;
    gap: 7px;
  }
  .hero-cont {
    font-size: 32px;
  }
  .hero-cont1 {
    font-size: 16px;
  }
  .hero-subhead {
    width: 90%;
    font-size: 20px;
    line-height: 36px;
  }
  .coming-soon-card {
    flex-direction: column;
  }
  .coming-soon-container {
    padding: 50px 40px;
    gap: 35px;
  }
  .coming-soon-subcontainer {
    width: 90%;
    gap: 30px;
  }
  .coming-soon-header {
    gap: 10px;
  }
  .coming-soon-header span {
    font-size: 24px;
  }
  .coming-soon-header img {
    width: 70px;
    height: 1px;
  }
  .coming-soon-card-container {
    width: 100%;
    height: 470px;
    padding: 25px 40px;
    gap: 15px;
  }
  .coming-soon-card-img {
    width: 100%;
    height: 400px;
  }
  .coming-soon-card-container-head {
    font-size: 17px;
  }
  .coming-soon-card-details {
    gap: 10px;
  }
  .coming-soon-card-detail-sec {
    gap: 25px;
  }
  .coming-soon-card-head {
    font-size: 14px;
  }
  .coming-soon-card-subhead {
    font-size: 14px;
  }
  .about-container {
    padding: 50px 40px;
    gap: 30px;
  }
  .about-subcontainer {
    width: 100%;
    padding: 30px;
    gap: 18px;
  }
  .about-content {
    gap: 10px;
  }
  .about-head {
    font-size: 24px;
  }
  .about-content span {
    font-size: 15px;
    line-height: 23px;
  }
  .company-details-container {
    padding: 50px 40px;
    gap: 25px;
  }
  .company-details-subcontainer {
    width: 100%;
    gap: 25px;
  }
  .company-details-content {
    width: 100%;
    gap: 30px;
  }
  .company-details-header {
    gap: 10px;
  }
  .company-details-header span {
    font-size: 24px;
  }
  .company-details-header img {
    width: 80px;
    height: 1px;
  }
  .company-details-subcontent {
    gap: 25px;
  }
  .company-details-exp {
    gap: 10px;
  }
  .company-details-exp-head {
    font-size: 28px;
    line-height: 32px;
  }
  .company-details-exp-subhead {
    font-size: 15px;
  }
  .company-details-exp-content {
    width: 100%;
    gap: 10px;
  }
  .company-details-exp-content span {
    font-size: 14px;
    line-height: 25px;
  }
  .project-container {
    padding: 50px 40px;
    gap: 30px;
  }
  .project-show-sec {
    gap: 30px;
  }
  .project-header {
    gap: 8px;
  }
  .project-header span {
    font-size: 24px;
  }
  .project-subcontainer {
    width: 100%;
    align-items: flex-start;
    gap: 30px;
  }
  .project-card-sec {
    gap: 17px;
    width: 100%;
  }
  .explore-button {
    width: 250px;
    padding: 12px 20px;
    font-size: 15px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  .hero-container {
    padding: 20px 40px;
    gap: 25px;
  }
  .hero-head {
    width: 65%;
    gap: 7px;
  }
  .hero-cont {
    font-size: 32px;
  }
  .hero-cont1 {
    font-size: 16px;
  }
  .hero-subhead {
    width: 80%;
    font-size: 22px;
  }
  .coming-soon-card {
    flex-direction: column;
  }
  .coming-soon-container {
    padding: 65px 40px;
    gap: 35px;
  }
  .coming-soon-subcontainer {
    width: 80%;
    gap: 40px;
  }
  .coming-soon-header {
    gap: 10px;
  }
  .coming-soon-header span {
    font-size: 28px;
  }
  .coming-soon-header img {
    width: 80px;
    height: 1px;
  }
  .coming-soon-card-container {
    width: 100%;
    height: 470px;
    padding: 25px 40px;
    gap: 20px;
  }
  .coming-soon-card-img {
    width: 100%;
    height: 420px;
  }

  .coming-soon-card-container-head {
    font-size: 18px;
  }
  .coming-soon-card-details {
    gap: 15px;
  }
  .coming-soon-card-detail-sec {
    gap: 25px;
  }
  .coming-soon-card-head {
    font-size: 16px;
  }
  .coming-soon-card-subhead {
    font-size: 16px;
  }
  .about-container {
    padding: 65px 40px;
    gap: 30px;
  }
  .about-subcontainer {
    width: 90%;
    padding: 30px;
    gap: 18px;
  }
  .about-content {
    gap: 10px;
  }
  .about-head {
    font-size: 28px;
  }
  .about-content span {
    font-size: 17px;
    line-height: 25px;
  }
  .company-details-container {
    padding: 65px 40px;
    gap: 40px;
  }
  .company-details-subcontainer {
    width: 90%;
    gap: 30px;
  }
  .company-details-content {
    width: 100%;
    gap: 30px;
  }
  .company-details-header {
    gap: 10px;
  }
  .company-details-header span {
    font-size: 28px;
  }
  .company-details-header img {
    width: 80px;
    height: 1px;
  }
  .company-details-subcontent {
    gap: 30px;
  }
  .company-details-exp {
    gap: 10px;
  }
  .company-details-exp-head {
    font-size: 32px;
    line-height: 35px;
  }
  .company-details-exp-subhead {
    font-size: 15px;
  }
  .company-details-exp-content {
    width: 100%;
    gap: 15px;
  }
  .company-details-exp-content span {
    font-size: 14px;
    line-height: 27px;
  }
  .project-container {
    padding: 65px 40px;
    gap: 30px;
  }
  .project-show-sec {
    gap: 35px;
  }
  .project-header {
    gap: 10px;
  }
  .project-header span {
    font-size: 28px;
  }
  .project-subcontainer {
    width: 100%;
    align-items: flex-start;
    gap: 40px;
  }
  .project-card-sec {
    gap: 20px;
    width: 100%;
  }
  .explore-button {
    width: 280px;
    padding: 13px 20px;
    font-size: 17px;
  }
}
